<% include partials/header //  no / before partial the / tells us to go back in the root but since we are already in views we dont need to %>

<h1>
	Landing Page for Yelp Camp
</h1>

<p>
	Welcome to YelpCamp!
</p>

<a href="/campgrounds">Visit Campsites Page</a>

<% include partials/footer %>
