<h1>
	Welcome to the Find a Movie Website!!!
</h1>

<h3>
	Enter below what movie you want to search for!
</h3>

<form action="/results", method="GET"> 
	<input type="text" placeholder="search term" name="search">
	<input type="submit">
</form>